{% extends "quiz/page17231522.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Result {% endblock %}

{% block content %}


<div height="100%" style="height:90vh">

<div class="js-successbox t-form__successbox t-text t-text_md" style="margin-left:25%;margin-right:25%;margin-top:15%" width=200px">
Thank you. &#129395; &#x1F389; &#127881;<br>
Your input helps us fine-tune the results.<br>
Can you think of a friend who may want to test this?<br>
We appreciate every share. &#128522;<br>
https://itrainmyway.com/
</div>

</div>







{% endblock %}
